@import './Variables.scss';
@import './icon/icons-1.8.1/font/bootstrap-icons.css';

:root{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
*{
    margin:0;
    padding:0;
}
html{
    margin: 0;
    padding: 0;
    border: 0;
}

.btn{
    position: absolute;
    border-radius: 20px;
    border: $border;
    z-index: 20;
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    &Blue{
        background-color: blue ;
        color: whitesmoke;
    }
}

.avatar{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.btn{
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 1px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}