$colorPrimary: rgb(98, 169, 241);
$colorSecond: #82acff;
$colorFontOnPrimary: rgb(237, 70, 72) ;
$colorBorder: #ccc;

$border: 1px solid #ccc;

@mixin centerX(){
    left: 50%;
    transform: translateX(-50%);
}
@mixin centerY(){
    top: 50%;
    transform: translateY(-50%);
}
@mixin centerXY(){
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

